* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: #ebeded;

  }

  body {
    background-color: #081b29;
    padding-top: 10%;
    background-color: linear-gradient(to right, red, yellow);
    overflow-x: hidden;
}

  .logo {
    font-size: 4vw;
    padding: 10px 0px;
  }
  header nav {
    display: flex;
    top: 0%;
    justify-content: space-around;
    position: fixed;

    width: 100%;
    height: auto;
    max-height: 15%;
    background-color: #081b29;
    border-bottom: 1px solid rgba(255, 255, 255, 0.155);
  }
  nav ul {
    display: flex;
    list-style: none;
  }
  nav ul li {
    padding: 2vw 2vw;
  }
  nav a {
    text-decoration: none;
    font-size: 1.8vw;
  }
  .container {
    display: flex;
    align-items: center;

    width: 100%;
    height: 80vh;

  }
  .intro{
    max-width: 50%;
    padding: 0% 5%;
    font-size: 1.8vw;

  }
  .intro h1{
    color: deepskyblue;
    font-size: 3.5vw;

  }
  .intro2{
    width: 60%;
    padding: 0% 5%;
  }
  .intro2 img{
    min-width: 100%;
    width: 100%;
    transition: transform 3s;

    animation-name: slide;
    animation-duration: 3s;
    animation-iteration-count: infinite;

    user-select: none;
  }
  .intro2 img:hover{
    opacity: 0.2;
    transition: 5s;
  }

::selection{
    color: coral;
    background-color: #0b3a5c;
}
@keyframes slide{
    50%{transform: translateY(50px);}
}
@keyframes slideRes{
    50%{transform: translateY(10px);}
}

  @media screen and (max-width: 500px) {
    .container{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        height: 50vh;
    }
    .intro{
        width: 100%;
    }
    .intro2{
        padding: 5% 0%;
        padding-right: 10%;
    }
    .intro2 img{
        min-width: 100%;
        width: 100%;
        padding: 0% 10%;
        animation-name: slideRes;
      }
  }